<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="page">

    <div class="charts">
        <div class="gaz">
            <p>
                <mat-icon>cloud_queue</mat-icon> Gaz</p>
            <p><span class="digits">{{gaz}}</span>ppm</p>
        </div>
        <div class="apa">
            <p>
                <mat-icon>invert_colors</mat-icon> Umiditate</p>
            <p><span class="digits">{{apa}}</span>%</p>
        </div>
    </div>
    <div class="temp">
        <p>
            <mat-icon>wb_sunny</mat-icon> Temperatura</p>

        <p><span class="digits">{{temp}}</span>℃</p>
    </div>

</div>
