.page {
    background-image: url("../../assets/HighlevelWearyBubblefish-size_restricted.gif");
    min-height: 140vh;
    color: rgb(247, 241, 241);
}

.charts {
    display: flex;
    flex-direction: row;
}

.soloChart {
    min-height: 90vh;
}

.chart {
    width: 60vh;
    height: 50vh;
    margin: 2%;
    margin-left: 30vh;
    padding-left: 0%;
}

.chart-temp {
    margin-top: 15vh;
    padding-left: 25%;
}

p {
    text-align-last: center;
    font-size: 50px;
}